.head2{
   width: 100%;
   display: flex;
   
    margin-top: 20px;
     .img1{
        background-image: url(istockphoto-938463764-612x612.jpg);
        height: 100vh;
        background-repeat: no-repeat;
        H1{
            text-align: left;
            padding:50vh 70vh 20vh 10vh;
            font-style: italic;
            color: rgb(249, 251, 251);
        }
     }
     h2{
        color: rgb(235, 83, 108);
      text-align: center;
        
     }
     .img2{
   
    margin-top: -25%;
         img{
            border-radius: 30px;
            padding:10px;
         
         }
     }
     .btn{
      text-align: center;
        button{
            width: 270px;
            height: 50px;
            border-radius: 10px;
            border: 0px;
            background-color: rgb(233, 231, 231);
            
    
        }
     }
     :hover.btn{
      button{
         background-color: black;
         color: white;
      }

     }
     h3{
        color: black;
        text-align: center;
        text-transform: capitalize;
        font-style: italic;
        color: rgb(100, 7, 41);
     }
     h4{
      text-align: center;
      color: rgb(235, 41, 131);
     }
     .img3{
        display: flex;
        justify-content: space-around;
       img{ border-radius: 50%;
         padding:20px ;
    }
     }
     .img4{
      
        .A{
         flex-wrap: wrap;
         display: flex;
         justify-content: space-around;
        }
        img{
            border-radius: 50%;
            
        }
     }
   
}
.head3{
   display: grid;
   grid-template-columns: repeat(3, 1fr);
   text-align: center;
   align-items: center;
   text-transform: capitalize;
   width: 100%;
   margin-top: 20px;

}
.head3::before,.head3::after{
   content: "";
   height:1px;
   background-color: black;
   display: block;
}
.head4{
   
   display: grid;
   grid-template-columns: (500px auto auto  );
   grid-template-rows: (auto auto auto auto auto);
   border: 2px solid;
   height: 7000vh;
   width: 100%;

   .ch{
       border: 2px solid;
      
      .ch1{
         background-image:url(outdoor-full-body-portrait-young-600nw-522307024.webp) ;
         background-repeat: no-repeat;
         background-size: cover;
         margin: 20px 20px 20px 20px;
         grid-column-start: 1;
         grid-column-end: 2;
         grid-row-start: 1;
         grid-row-end: 3;
         height: 300vh;
         width: 100%;
      }
      .ch2{
         margin: 20px 20px 20px 20px;
        // grid-column-start: 1;
        // grid-column-end: 2;
         grid-row-start: 1;
         grid-row-end: 3;
         height: 300vh;
         width: 100%;
      }
      .ch3{
        // margin: 20px 20px 20px 20px;
        // grid-column-start: 1;
         grid-column-end: 2;
         grid-row-start: 1;
         grid-row-end: 3;
         height: 300vh;
         width: 100%;
      }
}
}

   
@media screen and (max-width: 600px) {
   .head2{
      flex-direction: column  ;
   }
}