.navbar{margin: 0%;
    padding: 0%;
    position: sticky; 
    display: flex;
  justify-content: space-between;
    align-items: center;
    border: 1px solid silver;
    .n-1{ margin-left: 20px;
      h4{
        color: rgb(249, 64, 166);
        text-transform: capitalize;
    }                         
}
 .n-3{
  margin-right: 20px;
  i{
    padding: 10px;
  }
 }
}
.head{
    text-align: center;
    margin-top: 20px;
    h4{
        margin-right: 55vh;
        margin-bottom: 4px;
        text-transform: capitalize;
    }
    p{
        margin-right: 5vh;
        text-transform: capitalize;
    }
    input{
        width: 72vh;
        height: 5vh;
        border: 1px solid;
        text-transform: capitalize;
        padding: 5px;
    }
    button{
        width: 72vh;
        height: 6vh;
        background-color: rgb(253, 65, 162);
        text-transform: capitalize;
        color: white;
        border: 0px;
    }
}