.navbar{
    width:100% ;
    display: block;
         position: relative; 
         display: flex;
         justify-content: space-between;
         align-items: center;
         background-color: rgb(240, 234, 234);
    .n-1{ margin-left: 20px;
      h4{
        @include demo;
    }                         
  }
  .n-3{
  margin-right: 20px;
  i{
    padding: 10px;
  }
  }
  }